/* =========================================================
   MasterPol - fixed idempotent script (SQL Server)
   - No hardcoded file paths
   - Create tables only if not exists
   - Insert seed rows only if missing
   - Add FK constraints only if missing
   ========================================================= */

USE master;
GO

/* 1) Create DB (no FILENAME) */
IF DB_ID(N'MasterPol') IS NULL
BEGIN
    CREATE DATABASE [MasterPol];
END
GO

/* 2) DB options */
IF DB_ID(N'MasterPol') IS NOT NULL
BEGIN
    ALTER DATABASE [MasterPol] SET COMPATIBILITY_LEVEL = 140;
    ALTER DATABASE [MasterPol] SET AUTO_CLOSE ON;
    ALTER DATABASE [MasterPol] SET AUTO_SHRINK OFF;
    ALTER DATABASE [MasterPol] SET RECOVERY SIMPLE;
    ALTER DATABASE [MasterPol] SET PAGE_VERIFY CHECKSUM;
END
GO

USE [MasterPol];
GO

/* 3) Tables */

IF OBJECT_ID(N'dbo.Partners_type', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Partners_type
    (
        idTypePartner int NOT NULL,
        typePartner   nvarchar(255) NULL,
        CONSTRAINT PK_Partners_type$ PRIMARY KEY CLUSTERED (idTypePartner)
    );
END
GO

IF OBJECT_ID(N'dbo.Product_type', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Product_type
    (
        idTypeProduct int NOT NULL,
        typeProduct   nvarchar(255) NULL,
        koefOfType    float NULL,
        koefOfBrak    float NULL,
        CONSTRAINT PK_Product_type_import$ PRIMARY KEY CLUSTERED (idTypeProduct)
    );
END
GO

IF OBJECT_ID(N'dbo.Products', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Products
    (
        idArticle   float NOT NULL,
        typeProduct int NULL,
        nameProduct nvarchar(255) NULL,
        price       float NULL,
        CONSTRAINT PK_Products_import$ PRIMARY KEY CLUSTERED (idArticle)
    );
END
GO

IF OBJECT_ID(N'dbo.Partners', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Partners
    (
        idPartner          int IDENTITY(1,1) NOT NULL,
        typePartner        int NULL,
        namePartner        nvarchar(255) NULL,
        email              nvarchar(255) NULL,
        phone              nvarchar(13)  NULL,
        adress             nvarchar(255) NULL,
        inn                float NULL,
        rate               int NULL,
        surnameDirector    nvarchar(255) NULL,
        nameDirector       nvarchar(255) NULL,
        patronymicDirector nvarchar(255) NULL,
        CONSTRAINT PK_Partners_import$ PRIMARY KEY CLUSTERED (idPartner)
    );
END
GO

IF OBJECT_ID(N'dbo.Partner_products', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Partner_products
    (
        idSale       int IDENTITY(1,1) NOT NULL,
        idArticle    float NULL,
        idPartner    int NULL,
        countProduct int NULL,
        dateOfSale   datetime NULL,
        CONSTRAINT PK_Partner_products_import$ PRIMARY KEY CLUSTERED (idSale)
    );
END
GO

IF OBJECT_ID(N'dbo.Role', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.[Role]
    (
        idRole   int NOT NULL,
        nameRole nvarchar(255) NOT NULL,
        CONSTRAINT PK_Role PRIMARY KEY CLUSTERED (idRole)
    );
END
GO

IF OBJECT_ID(N'dbo.Users', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.[Users]
    (
        idUser       int NOT NULL,
        loginUser    nvarchar(8) NOT NULL,
        passwordUser nvarchar(8) NOT NULL,
        idRole       int NOT NULL,
        CONSTRAINT PK_Users PRIMARY KEY CLUSTERED (idUser)
    );
END
GO

/* 4) Seed data (only if missing) */

-- Partners_type
IF NOT EXISTS (SELECT 1 FROM dbo.Partners_type WHERE idTypePartner = 1) INSERT dbo.Partners_type VALUES (1, N'ЗАО');
IF NOT EXISTS (SELECT 1 FROM dbo.Partners_type WHERE idTypePartner = 2) INSERT dbo.Partners_type VALUES (2, N'ООО');
IF NOT EXISTS (SELECT 1 FROM dbo.Partners_type WHERE idTypePartner = 3) INSERT dbo.Partners_type VALUES (3, N'ПАО');
IF NOT EXISTS (SELECT 1 FROM dbo.Partners_type WHERE idTypePartner = 4) INSERT dbo.Partners_type VALUES (4, N'ОАО');
GO

-- Product_type
IF NOT EXISTS (SELECT 1 FROM dbo.Product_type WHERE idTypeProduct = 1) INSERT dbo.Product_type VALUES (1, N'Ламинат', 2.35, 0.0034);
IF NOT EXISTS (SELECT 1 FROM dbo.Product_type WHERE idTypeProduct = 2) INSERT dbo.Product_type VALUES (2, N'Массивная доска', 5.15, 0.0095);
IF NOT EXISTS (SELECT 1 FROM dbo.Product_type WHERE idTypeProduct = 3) INSERT dbo.Product_type VALUES (3, N'Паркетная доска', 4.34, 0.0028);
IF NOT EXISTS (SELECT 1 FROM dbo.Product_type WHERE idTypeProduct = 4) INSERT dbo.Product_type VALUES (4, N'Пробковое покрытие', 1.5, 0.0055);
GO

-- Products
IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE idArticle = 5012543) INSERT dbo.Products VALUES (5012543, 4, N'Пробковое напольное клеевое покрытие 32 класс 4 мм', 5450.59);
IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE idArticle = 7028748) INSERT dbo.Products VALUES (7028748, 1, N'Ламинат Дуб серый 32 класс 8 мм с фаской', 3890.41);
IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE idArticle = 7750282) INSERT dbo.Products VALUES (7750282, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 1799.33);
IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE idArticle = 8758385) INSERT dbo.Products VALUES (8758385, 3, N'Паркетная доска Ясень темный однополосная 14 мм', 4456.9);
IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE idArticle = 8858958) INSERT dbo.Products VALUES (8858958, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 7330.99);
GO

-- Role
IF NOT EXISTS (SELECT 1 FROM dbo.[Role] WHERE idRole = 1) INSERT dbo.[Role] VALUES (1, N'Менеджер');
IF NOT EXISTS (SELECT 1 FROM dbo.[Role] WHERE idRole = 2) INSERT dbo.[Role] VALUES (2, N'Партнер');
GO

-- Users
IF NOT EXISTS (SELECT 1 FROM dbo.[Users] WHERE idUser = 1) INSERT dbo.[Users] VALUES (1, N'manager1', N'1111', 1);
IF NOT EXISTS (SELECT 1 FROM dbo.[Users] WHERE idUser = 2) INSERT dbo.[Users] VALUES (2, N'partner1', N'2222', 2);
GO

-- Partners (identity)
SET IDENTITY_INSERT dbo.Partners ON;

IF NOT EXISTS (SELECT 1 FROM dbo.Partners WHERE idPartner = 1)
INSERT dbo.Partners (idPartner, typePartner, namePartner, email, phone, adress, inn, rate, surnameDirector, nameDirector, patronymicDirector)
VALUES (1, 1, N'База Строитель', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7, N'Иванова', N'Александра', N'Ивановна');

IF NOT EXISTS (SELECT 1 FROM dbo.Partners WHERE idPartner = 2)
INSERT dbo.Partners (idPartner, typePartner, namePartner, email, phone, adress, inn, rate, surnameDirector, nameDirector, patronymicDirector)
VALUES (2, 2, N'Паркет 29', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7, N'Петров', N'Василий', N'Петрович');

IF NOT EXISTS (SELECT 1 FROM dbo.Partners WHERE idPartner = 3)
INSERT dbo.Partners (idPartner, typePartner, namePartner, email, phone, adress, inn, rate, surnameDirector, nameDirector, patronymicDirector)
VALUES (3, 3, N'Стройсервис', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', 4440391035, 7, N'Соловьев', N'Андрей', N'Николаевич');

IF NOT EXISTS (SELECT 1 FROM dbo.Partners WHERE idPartner = 4)
INSERT dbo.Partners (idPartner, typePartner, namePartner, email, phone, adress, inn, rate, surnameDirector, nameDirector, patronymicDirector)
VALUES (4, 4, N'Ремонт и отделка', N'ekaterina.vorobeva@ml.ru', N'444 222 33 11', N'143960, Московская область, город Реутов, ул. Свободы, 51', 1111520857, 5, N'Воробьева', N'Екатерина', N'Валерьевна');

IF NOT EXISTS (SELECT 1 FROM dbo.Partners WHERE idPartner = 5)
INSERT dbo.Partners (idPartner, typePartner, namePartner, email, phone, adress, inn, rate, surnameDirector, nameDirector, patronymicDirector)
VALUES (5, 1, N'МонтажПро', N'stepanov@stepan.ru', N'912 888 33 33', N'309500, Белгородская область, город Старый Оскол, ул. Рабочая, 122', 5552431140, 10, N'Степанов', N'Степан', N'Сергеевич');

SET IDENTITY_INSERT dbo.Partners OFF;
GO

-- Partner_products (identity)
SET IDENTITY_INSERT dbo.Partner_products ON;

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 1)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (1, 8858958, 2, 35000, CAST(N'2022-12-02T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 2)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (2, 8858958, 3, 2500, CAST(N'2024-07-05T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 3)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (3, 8858958, 5, 25000, CAST(N'2024-06-12T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 4)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (4, 7750282, 1, 12350, CAST(N'2023-12-18T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 5)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (5, 7750282, 2, 1000, CAST(N'2024-06-07T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 6)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (6, 7750282, 4, 37200, CAST(N'2024-03-12T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 7)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (7, 7750282, 5, 50000, CAST(N'2023-09-19T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 8)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (8, 7028748, 1, 37400, CAST(N'2024-06-07T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 9)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (9, 7028748, 4, 59050, CAST(N'2023-03-20T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 10)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (10, 7028748, 5, 670000, CAST(N'2023-11-10T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 11)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (11, 8758385, 1, 15500, CAST(N'2023-03-23T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 12)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (12, 8758385, 2, 7550, CAST(N'2024-07-01T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 13)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (13, 8758385, 3, 7250, CAST(N'2023-01-22T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 14)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (14, 8758385, 5, 35000, CAST(N'2024-04-15T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 15)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (15, 5012543, 2, 1250, CAST(N'2023-05-17T00:00:00.000' AS datetime));

IF NOT EXISTS (SELECT 1 FROM dbo.Partner_products WHERE idSale = 16)
INSERT dbo.Partner_products (idSale, idArticle, idPartner, countProduct, dateOfSale)
VALUES (16, 5012543, 4, 4500, CAST(N'2024-05-14T00:00:00.000' AS datetime));

SET IDENTITY_INSERT dbo.Partner_products OFF;
GO

/* 5) Foreign keys (add only if missing) */

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Partners_import$_Partners_type$')
BEGIN
    ALTER TABLE dbo.Partners WITH CHECK
    ADD CONSTRAINT [FK_Partners_import$_Partners_type$]
    FOREIGN KEY (typePartner) REFERENCES dbo.Partners_type(idTypePartner);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Products_import$_Product_type_import$')
BEGIN
    ALTER TABLE dbo.Products WITH CHECK
    ADD CONSTRAINT [FK_Products_import$_Product_type_import$]
    FOREIGN KEY (typeProduct) REFERENCES dbo.Product_type(idTypeProduct);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Partner_products_import$_Partners_import$')
BEGIN
    ALTER TABLE dbo.Partner_products WITH CHECK
    ADD CONSTRAINT [FK_Partner_products_import$_Partners_import$]
    FOREIGN KEY (idPartner) REFERENCES dbo.Partners(idPartner);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Partner_products_import$_Products_import$')
BEGIN
    ALTER TABLE dbo.Partner_products WITH CHECK
    ADD CONSTRAINT [FK_Partner_products_import$_Products_import$]
    FOREIGN KEY (idArticle) REFERENCES dbo.Products(idArticle);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Users_Role')
BEGIN
    ALTER TABLE dbo.[Users] WITH CHECK
    ADD CONSTRAINT [FK_Users_Role]
    FOREIGN KEY (idRole) REFERENCES dbo.[Role](idRole);
END
GO